<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  </head>

  <body>

    <div class="form">
    <h1 style="padding: 5%;">Faça o seu cadastro gratuitamente!</h1>
         <div class="formulario">
    
  <form th:action="@{/cliente/cadastrar}" th:object="${cliente}" method="POST">
     <div class="form-group">
        <label for="nome">Nome completo:</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome completo" th:field="*{nome}" />
      </div>
       <div class="form-group">
        <label for="telefone">Telefone:</label>
        <input type="text" class="form-control" id="telefone" placeholder="Telefone" th:field="*{telefone}" />
      </div>
      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="text" class="form-control" id="email" placeholder="E-mail" th:field="*{email}" />
      </div>
      <div class="form-group">
        <label for="pwd">Senha:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Senha" th:field="*{senha}" />
      </div>

      <div class="checkbox">
        <label><input type="checkbox">Lembre de mim</label>
          <a href="login.html" style="margin-left: 5%;">Já possui cadastro? Faça login</a>
      </div>
      <button type="submit" class="btn btn-default">Cadastrar</button>
      
      <h4>
			<a href="/cliente/list">
				Listar clientes
			</a>
		</h4>

</form>
    </div>
      </div>



    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Corporação Titã &copy; Seu Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
