<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Titan</title>
    

      <style>
          body{
              color: white;
              background-color: #292828;
          }
           ul{
            margin-top: 3%;
        }
      

      </style>

  </head>

  <body>

       <div class="form">
    <h1 style="padding: 5%;">Faça o seu cadastro gratuitamente!</h1>
         <div class="formulario">
    
  <form th:action="@{/produto/cadastrar}" th:object="${produto}" method="POST">
     <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" placeholder="moto g5s" th:field="*{nome}"/>
      </div>
      <div class="form-group">
        <label for="estado">Descrição:</label>
        <input type="text" class="form-control" id="descricao" placeholder="produto foda" th:field="*{descricao}"/>
      </div>
       <div class="form-group">
        <label for="telefone">Marca:</label>
        <input type="text" class="form-control" id="marca" placeholder="Samsung"  th:field="*{marca}"/>
      </div>
      <div class="form-group">
        <label for="email">Preço:</label>
        <input type="text" class="form-control" id="preco" placeholder="960.00" th:field="*{preco}"/>
      </div>
      <div class="checkbox">
        <label><input type="checkbox">Lembre de mim</label>
      </div>
      <button type="submit" class="btn btn-default">Cadastrar</button>
      
      <h4>
			<a href="/produto/list">
				Listar produtos
			</a>
		</h4>

</form>
    </div>
      </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Corporação Titã &copy; Seu Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
